*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.container{
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: #1f2847;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heading{
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-bottom: 50px;
}
label{
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;
}
select{
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #1f2847;
    font-size: 14px;
}
